* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #d7d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    outline-color: blue;
    padding-bottom: 5px;
  }
  
  .profile-image {
    width: 170px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 4px solid #007bff;
  }
  
  .about,
  .projects,
  .contact {
    margin-bottom: 20px;
    padding-bottom: 60px;
  }
  
  h2 {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  li {
    font-size: 1em;
    color: #333;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    background-color: #f0f8ff;
    border-left: 5px solid blue;
    padding: 10px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style-type: none;
  }
  
  .about {
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 15px;
    width: 40%;
    background-color: #f9f9f9;
  }
  
  .projects {
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 15px;
    width: 40%;
    background-color: #f9f9f9;
  }
  
  .contact {
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 15px;
    width: 40%;
    background-color: #f9f9f9;
  }